package site

type TemplCounterStore struct {
	Global uint32 `json:"global"`
	User   uint32 `json:"user"`
}

templ templCounterExampleButtons() {
	<div>
		<button
			data-on-click="@post('/templ_counter/increment/global')"
			data-indicator="fetching"
		>
			Increment Global
		</button>
		<button
			data-on-click="@post('/templ_counter/increment/user')"
		>
			Increment User
		</button>
	</div>
}

templ templCounterExampleCounts() {
	<div>
		<div>
			<div>Global</div>
			<div data-text="$global"></div>
		</div>
		<div>
			<div>User</div>
			<div data-text="$user"></div>
		</div>
	</div>
}

templ templCounterExampleInitialContents(store TemplCounterStore) {
	<div
		id="container"
		data-store={ templ.JSONString(store) }
	>
		@templCounterExampleButtons()
		@templCounterExampleCounts()
	</div>
}

templ templCounterExampleInitialContents2(store TemplCounterStore) {
	<html>
		<head>
			<script type="module" src="/static/datastar/datastar.js"></script>
		</head>
		<body>
			<div
				id="container"
				data-signals={ templ.JSONString(store) }
			>
				@templCounterExampleButtons()
				@templCounterExampleCounts()
				<div data-signals="{input: 1123123, form: {input: 2}, input2: 123}"></div>
				<input data-bind-input/>
				<div data-text="$input">
					I will get replaced with the contents of the input signal
				</div>
				<button data-on-click="$input = ''">Reset</button>
				<hr/>
				// 	<div data-computed-repeated="$input2.repeat(2)">
				// 		<input data-bind-input2/>
				// 		<div data-text="$repeated">
				// 			Will be replaced with the contents of the repeated signal
				// 		</div>
				// 	</div>
				// 	<hr/>
				<div id="question"></div>
				<button data-on-click="@get('/test')">Fetch a question</button>
				<div data-text="$answer">
					Will be replaced with the contents of the repeated signal
				</div>
			</div>
		</body>
	</html>
}
