package site

type TemplCounterStore struct {
	Global uint32 `json:"global"`
	User   uint32 `json:"user"`
}

templ templCounterExampleButtons() {
	<div>
		<button
			data-on-click="@post('/templ_counter/increment/global')"
		>
			Increment Global
		</button>
		<button
			data-on-click="@post('/templ_counter/increment/user')"
		>
			Increment User
		</button>
	</div>
}

templ templCounterExampleCounts(global string, user string) {
	<div id="counts">
		<div>
			<div>Global</div>
			<span>{ global } </span>
		</div>
		<div>
			<div>User</div>
			<span>{ user } </span>
		</div>
	</div>
}

templ templContents(global string, user string) {
	<div
		id="container"
	>
		@templCounterExampleButtons()
		@templCounterExampleCounts(global, user)
	</div>
}

templ templCounterExampleInitialContents(global string, user string) {
	<html>
		<head>
			<script type="module" src="/static/datastar/datastar.js"></script>
		</head>
		<body>
			<div
				id="container"
				data-on-load="@get('/templ_counter/data')"
			>
				@templCounterExampleButtons()
				<div id="counts">
					test
				</div>
			</div>
			<div
				data-signals="{
    foo: 1234,
    bar: 'bar'
}"
			>
				<div data-computed-baz="$foo * 2"></div>
				<input type="number" step="1" min="0" data-bind-foo/>
				<input type="text" data-bind-baz/>
				<input type="text" data-bind-bar/>
			</div>
			<code>
				<pre data-text="ctx.signals.JSON()"></pre>
			</code>
		</body>
	</html>
}

// templ templCounterExampleInitialContents2(store TemplCounterStore) {
// 	<html>
// 		<head>
// 			<script type="module" src="/static/datastar/datastar.js"></script>
// 		</head>
// 		<body>
// 			<div
// 				id="container"
// 				data-signals={ templ.JSONString(store) }
// 				data-on-load="@get('/templ_counter/data')"
// 			>
// 				@templCounterExampleButtons()
// 				@templCounterExampleCounts()
// 				// <div data-signals="{input: 1123123, form: {input: 2}, input2: 123}"></div>
// 				// <input data-bind-input/>
// 				// <div data-text="$input">
// 				// 	I will get replaced with the contents of the input signal
// 				// </div>
// 				// <button data-on-click="$input = ''">Reset</button>
// 				// <hr/>
// 				// <div id="question"></div>
// 				// <button data-on-click="@get('/test')">Fetch a question</button>
// 				// <div data-text="$answer">
// 				// 	Will be replaced with the contents of the repeated signal
// 				// </div>
// 			</div>
// 		</body>
// 	</html>
// }
