package components

import "fmt"

css editButton() {
	position: absolute;
	top: 0;
	right: 0;
}

templ EditButton(id string) {
	<button data-on-click={ fmt.Sprintf("@get('/edit/%s')", id) } class={ editButton() }>edit</button>
}
