package components

templ Header(title string) {
	<head>
		<title>{ title }</title>
		<link rel="stylesheet" href="/static/global.css"/>
		<script type="module" src="/static/datastar/datastar.js"></script>
	</head>
}
