body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #2e3440;
	color: #eceff4;
}

.indicator {
	opacity: 0;
	transition: opacity 300ms ease-out;
}

.indicator.loading {
	opacity: 1;
	transition: opacity 300ms ease-in;
}